.footer {
    background-color:#000000;
    padding: 10px 10px;
    overflow: hidden;
    position: sticky;
    top: 100%;


}

.col-lg-6 {
    color: #ff5b3e;
    font-size: 20px;
}

#logo {
    width: 180px;
    height: 90px;
}

a {
    color: #ff5b3e;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 18px;
}

i {
    padding: 0px 10px;
}