<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/a.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Programme Cardio</h3>
        <p>Fini l'essouflement , dit oui a des poumons d'acier.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/b.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Programme Abdo</h3>
        <p>Tu reves d'avoir des abdos durs et saillants ? c'est ici que sa ce passe</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/c.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Programme Combat</h3>
        <p> C'est ici pour une condition physique enerver</p>
      </div>
    </ng-template>
  </ngb-carousel>