<div class="banner">
    <div class="content">
        <div class="rec">
            <p class="first">Aucun homme n'a le droit d'être un amateur en matière de formation physique.</p>
            <p class="second">C'est une honte qu'un homme vieillisse sans voir la beauté et la force dont son corps est capable</p>
            <a routerLink="programme">ORDER NOW<i class="bi bi-arrow-right"></i></a>
        </div>
    </div>

</div>

<div class="logo">
    <div class="logomuscle">
        <h2>Prise de muscle</h2>
    </div>
    <div class="logoSeche">
        <h2>Perte de poids</h2>
    </div>

</div>